//! **************************************************************************
// Written by: Map O.40d on Sun Jul 20 11:49:31 2014
//! **************************************************************************

SCHEMATIC START;
COMP "pci_exp_rxn<0>" LOCATE = SITE "AB2" LEVEL 1;
COMP "pci_exp_rxp<0>" LOCATE = SITE "AB1" LEVEL 1;
COMP "pci_exp_txn<0>" LOCATE = SITE "V2" LEVEL 1;
COMP "pci_exp_txp<0>" LOCATE = SITE "V1" LEVEL 1;
COMP "sys_reset_n" LOCATE = SITE "A12" LEVEL 1;
COMP "sys_clk_n" LOCATE = SITE "R3" LEVEL 1;
COMP "sys_clk_p" LOCATE = SITE "R4" LEVEL 1;
PIN sys_reset_n_pins<0> = BEL "sys_reset_n" PINNAME PAD;
PIN MMCM_PHASE_CALIBRATION_ML_LUT2_12_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LUT2_12" PINNAME O6;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_11_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_11" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_10_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_10" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_9_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_9" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_8_pins<0> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_8" PINNAME CK;
PIN "sys_reset_n_pins<0>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LUT2_12_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_11_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_10_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_9_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_8_pins<0>" TIG;
SCHEMATIC END;

